.reserve {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.rContainer {
  height: 100vh;
  min-width: 75vw;
  background-color: white;
  padding: 20px;
  position: relative;
}
.eticket {
  width: 500;
  height: 500;
  position: absolute;
  top: 20;
  justify-content: center;
  background-color: aqua;
}
.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  align-items: center;
}

.rItem {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.rInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 12px;
}

.rPrice {
  font-weight: 500;
}

.rSelectMovies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 8px;
  color: gray;
}

.movie {
  display: flex;
  flex-direction: column;
}

.abc {
  background-image: url("../svg/checked.svg");
  background-size: 16 16;
}
.rButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
}
